/*
 * Main container.
 */

body {
  display: grid;
  height: 100vh;
  grid-template:
    'main-header main-header main-header' auto
    '.           main-cont   .          ' 1fr
    'main-footer main-footer main-footer' auto
    / auto clamp(400px, 100%, 800px) auto;
}

.text-msg {
  display: none;

  &--info {
    display: block;
    background-color: #09f;
    color: inherit;

    &::before {
      margin-right: 0.2em;
      content: '\24D8';
    }
  }

  &--warning {
    display: block;
    background-color: #f90;
    color: inherit;

    &::before {
      margin-right: 0.2em;
      content: '\26A0';
    }
  }

  &--error {
    padding: 0.2rem;
    display: block;
    background-color: #fcc;
    color: inherit;

    &::before {
      margin-left: 0.2em;
      margin-right: 0.2em;
      font-weight: 700;
      content: '!';
    }
  }
}

/* By default we display the icon. */
.iconable {
  .iconable__text {
    display: none;
  }

  .iconable__icon {
    display: inline;
  }
}
