.main-footer {
  padding: 1.5em;
  background: var(--color5);
  grid-area: main-footer;

  a {
    color: inherit;
    text-decoration-thickness: 0.05em;
  }

  a:hover {
    text-decoration-thickness: 0.1em;
  }
}